h2{
  font-size: 3rem;
  line-height:1.5;
  font-weight: 500;
}


h3{
  font-weight:500;
  font-size: 1.3rem;
  line-height:1.5;
}

body{
  height: 120vh;
}

/* err messages */
p{
    color: #FF2E2E;
    font-size: 0.7rem;
    font-weight: 600;
    font-family: sans-serif;
}

.login-form-container{
  padding: 5% 0;
  color: #fff6af;
  margin: 5% 30% 50% auto;
  text-align: center;
  border-radius: 25px;
  box-shadow: 30px 25px 30px 1px #7D7530;
  width: 45%;
  background-color: #0a0a0a;
  opacity: 0.9;

}

.login-form-main{

    padding: 2% 0;

}

.row-no-margin{
  margin:0;
}

.row-vert-margin{
  margin: 0;
  padding-top: 40px;
}

.sign-in-image{
  background-image: url("../Images/beebee5.jpg");
  background-repeat: no-repeat;
  background-size :cover;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.err-msg{
    height: 20px;
}

/* homepage container */
.container-fluid{
  padding: 0% 4%;
}

::placeholder{
  font-size: 1rem;
  font-weight: 300;
  color:	black;
  padding: 4% 6% 50% 0%;
}

input{
  padding: 1% 6%;
  width:80%;
  font-weight: 500;
  font-size: 25px;
  height: 100%;
  border-radius: 6px;
  border:none;
  box-shadow: 2px 2px 5px 	#eec33d;
}

.pass-class{
  margin-left: -3%;
}


.form-row{
  margin: 2%;
}
.show-pass-icon{
  color: grey;
  margin-left: -10%;
  position: relative;
}


.submit {
font-size:15px;
font-family:Arial;
width:140px;
height:50px;
background-color: #eec33d;
color:#fff6af
}

.submit:hover {
background-color: #FF2E2E;
}

/*@media (max-width:1400px){
  .navbar-brand{
    font-variant: small-caps;
    font-size: 4rem;
  }

  .nav-item{
      font-size: 3rem;
      padding: 0 2rem 0 0 ;
      text-align: left;
  }

  #login-form{
      color:#fff;
      margin-bottom: 17%;
      display:inline-block;
      padding: 3% 3%;
      background-color:rgba(252,188,171, 0.4);
      border-radius: 20px;
      box-shadow: 5px 10px 18px #ffcc99;
      width: 60%;
      height:100%;
  }

  ::placeholder{
    font-size: 2rem;
    font-weight: 400;
    color:	#ff96cd;
    padding: 10 2% 0;
  }

  input{
    padding: 1% 2%;
    width:80%;
    font-weight: 500;
    font-size: 25px;
    height: 100%;
    border-radius: 10px;
    border:none;
    box-shadow: 2px 2px 5px #eec33d;
  }

.submit {
font-size:15px;
font-family:Arial;
width:140px;
height:50px;
border-width:1px;
color:#333333;
border-color:#ffaa22;
font-weight:bold;
border-top-left-radius:6px;
border-top-right-radius:6px;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;
box-shadow: 0px 1px 0px 0px #fff6af;
text-shadow: 0px 1px 0px #ffee66;
background:linear-gradient(#ffec64, #ffab23);
}

.submit:hover {
background: linear-gradient(#ffab23, #ffec64);
}

  .form-row{
    margin: 4% 0;
  }
}
*/
